<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="server=ROHIT\SQLEXPRESS;Database=D6_joinPratice;Integrated Security=true"
			 name="DbConnection" providerName="system.data.sqlClient"/>
			
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>